<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

	<!-- pull properties from application.properties -->
	<include resource="classpath:/application.properties"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        	<!--  simple pattern -->
            <!-- <pattern>%d{yy-MMMM-dd HH:mm:ss:SSS} %5p %t %c{4}:%L %m%n</pattern> -->

            <!-- pattern that support multiline exceptions -->
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSSZ", UTC} %5p %t %c{5}:%L [log_framework=logback] %m MULTIEXCEPTION %replace(%xException){'\n','\u2028'}%nopex%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>

</configuration>
